--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.10.txt"

apache-airflow-providers-snowflake==3.3.0
whois21==1.2.0
requests
wapiti3
greenlet
ivre
paramiko
bbot
